<h1 class="bg-primary"> Welcome to OneConversion</h1>
<!-- <app-tasks></app-tasks>
<div *ngIf="showMsg; then showThenMsgelse; else showElseMsg"> show message</div>
<ng-template #showThenMsgelse> Show then message </ng-template>
<ng-template #showElseMsg> Show else message </ng-template>

<h4> ngSwitch Example</h4>

<div [ngSwitch]="switchValue">
  <div *ngSwitchCase="1"> Value passed is : 1</div>
  <div *ngSwitchCase="2"> Value passed is : 2</div>
  <div *ngSwitchCase="3"> Value passed is : 3</div>
  <div *ngSwitchCase="4"> Value passed is : 4</div>
  <div *ngSwitchDefault> This is default value</div>
</div>
<h4>ngFor</h4> -->
<!-- <table class="table">
  <tr>
    <th>User Id</th>
    <th>Name</th>

  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.userId}}</td>
    <td>{{user.name}}</td>
  </tr>
</table> -->

<!-- <div [ngStyle] ="{'color':colorVal,'background-color': bgColor}"> Learn angular is fun !!!!</div>
<div [ngClass] ="{'one':false, 'two':true}"> Learning ngClass with expression</div> -->
<div>{{subTitle}}</div>
<p>{{epNum}}</p>
<div [ngStyle]="{color:colorVal}"> This is example of property</div>
<p [innerHTML]='subTitle'></p>
<div [ngClass]="'c1'"> Setting class property</div>
<router-outlet></router-outlet>